/** 
* Project Detail Section
*/

@import "../assets/scss/variables";
@import "../assets/scss/mixins";

.project {
  padding-bottom: 50px;
  &__content {
    width: 100%;
    padding: 0 15px;
    &-header {
      &-thumbnail {
        width: 100%;
        img {
          border-radius: 10px;
          min-width: 100%;
        }
      }
      h3 {
        font-size: 25px;
        text-transform: capitalize;
        margin: 20px 0 15px;
        @include breakpoint-sm {
          font-size: 20px;
        }
      }
    }
    &-body {
      .description {
        margin-bottom: 20px;
      }
      .general-info {
        li {
          margin-bottom: 10px;
          font-weight: 500;
          text-transform: capitalize;
          span {
            font-weight: 300;
            word-wrap: break-word;
          }
          .tech-used {
            margin: 10px 0;
            @include breakpoint-sm {
              display: flex;
              flex-wrap: wrap;
            }
            @include breakpoint-md {
              display: flex;
              flex-wrap: wrap;
            }
          }
          .tech-item {
            background-color: $white-alpha-25;
            border: 1px solid $white-alpha-40;
            padding: 5px 15px;
            font-size: 0.85rem;
            text-transform: uppercase;
            margin: 0 10px 10px 0;
            border-radius: 20px;
          }
          a {
            text-transform: lowercase;
            color: $main-color;
          }
        }
      }
    }
    @include breakpoint-md {
      padding: 30px 15px;
    }
  }
}
